{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tickets Exports</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</head>
<body>
<div class="container">
    <fieldset id="fs1">
    <h2>Exporter les tickets d'un utilisateur</h2>
    <form class="form-group" action="{{ path('exportsby_user')}}" method="get">
        <div>
            <label for="User">Choisir le nom d'utilisateur:</label><br>
            <select class="selectpicker form-control" data-live-search="true" name="user" data-style="btn-info">
                <option selected>liste des Utilisateur Redmine</option>
                {% for key,val in tickets %}
                <option>{{ val }}</option>
                {% endfor %}
            </select>
            <br><br>

            <label for="Project">Date début réelle:</label>
            <input type="date" class="form-control" name="date_debut_réelle"><br>
            <label for="Project">Date fin réelle:</label>
            <input type="date" class="form-control" name="date_fin_réelle"><br>
            <label for="Project">Date début:</label>
            <input type="date" class="form-control" name="date_debut"><br>
            <label for="Project">Date fin:</label>
            <input type="date" class="form-control" name="date_fin">

        </div><br>
        <button type="submit" class="btn btn-primary" id="btn">Exporter</button>
    </form>
        <a class="btn btn-primary" href="{{ path('user_reporting')}}" role="button">Générer Rapport</a>
    </fieldset>

    <fieldset id="fs2">
    <h2>Exporter les tickets d'un Projet</h2>
    <form action="{{ path('exportsby_project')}}" method="get">
        <div class="form-group">
            <label for="Project">Choisir le nom du Projet:</label><br>
            <select class="selectpicker form-control" data-live-search="true" name="project" data-style="btn-info">
                <option selected>liste des Projets dans Redmine</option>
                {% for key,val in projet %}
                    <option>{{ val }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="Project">Date début réelle:</label>
            <input type="date" class="form-control" name="date_debut_réelle"><br>
            <label for="Project">Date fin réelle:</label>
            <input type="date" class="form-control" name="date_fin_réelle"><br>
            <label for="Project">Date début:</label>
            <input type="date" class="form-control" name="date_debut"><br>
            <label for="Project">Date fin:</label>
            <input type="date" class="form-control" name="date_fin">

        </div>
        <button class="btn btn-primary">Exporter</button>
    </form><br>
    <a class="btn btn-primary" href="{{ path('get_reports_project')}}" role="button">Générer Rapport</a>
    </fieldset>

    <fieldset id="fs3">
    <form action="{{ path('exports_all_tickets')}}">
        <h2>Exporter l'ensemble des tickets de tous les Projets</h2><br>
        <label for="Project">Date début réelle:</label>
        <input type="date" class="form-control" name="date_debut_réelle"><br>
        <label for="Project">Date fin réelle:</label>
        <input type="date" class="form-control" name="date_fin_réelle"><br>
        <label for="Project">Date début:</label>
        <input type="date" class="form-control" name="date_debut"><br>
        <label for="Project">Date fin:</label>
        <input type="date" class="form-control" name="date_fin"><br>
        <button class="btn btn-primary">Exporter tous les tickets</button>
    </form><br>
    <a class="btn btn-primary" href="{{ path('get_reports_all')}}" role="button">Générer Rapport</a>
    </fieldset>

</div>

</body>


</html>

{% endblock %}

