<html>
<head>
    <title>Page Login | Redmine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script
    <script src="{{ asset('js/loginform.js') }}"></script>
    <link href="{{ asset('css/loginform.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container" >
    <div class="col-lg-4 col-md-3 col-sm-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="logo">
            <img src="{{ asset('css/images/logo.png') }}"  alt="Logo"  >
        </div>
        <div class="row loginbox">
            <div class="col-lg-12">
                <span class="singtext" >Connexion | PMO</span>
            </div>
        <form method="post" action="{{ path('indexpage')}}">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <input name="username" class="form-control" type="text" placeholder="Entrer votre nom d'utilisateur" required >
            </div>
            <div class="col-lg-12  col-md-12 col-sm-12">
                <input name="password" class="form-control" type="password" placeholder="Entrer votre mot de passe" required >
            </div>
            <div class="col-lg-12  col-md-12 col-sm-12">
                <button class="btn  submitButton" type="submit">Login </button>
            </div>
        </form>
        </div>

    </div>
    <div class="col-lg-4 col-md-3 col-sm-2"></div>
</div>
</body>
<footer>
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-lg-12">
                <div class="col-md-8">
                    <a href="http://redmine.itroad.ma">Redmine IT ROAD</a> | <a href="http://127.0.0.1:8001/login">Progiciel IT ROAD</a>
                </div>
                <div class="col-md-4">
                    <p class="muted pull-right">© 2018 IT ROAD CONSULTING</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>