
<!DOCTYPE html><html>
<head>

    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <title>Redmine - Reporting & Esport </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Assets -->
    <link href="{{ asset('bundles/crmcore/css/style.css') }}" rel="stylesheet">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
    <script src="{{ asset('js/index.js') }}"></script>

    <!-- *************************************************************************************** -->
    <link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
    <link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
    <link rel="canonical" href="https://codepen.io/jaca90/pen/vZJZMx?depth=everything&order=popularity&page=10&q=statistics&show_forks=false" />

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
    <link rel="stylesheet" href="{{ asset('bundles/crmcore/css/base_style.css') }}">
</head>

<body>

<body class="sidebar-is-expanded">
<header class="l-header">
    <div class="l-header__inner clearfix">
        <div class="c-header-icon js-hamburger">
            <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></div>
        </div>
        <div class="header-icons-group">
            <div class="c-header-icon logout"><a href="{{ path('logout') }}"><i class="fa fa-power-off"></a></i></div>
        </div>
    </div>
</header>
<div class="l-sidebar">

    <div class="l-sidebar__content">
        <nav class="c-menu js-menu">
            <ul class="u-list">
                <li class="c-menu__item is-active" data-toggle="tooltip" title="Progiciel">
                    <div class="center-block c-menu-item__img" id="c-menu-item__img1" >
                        <img class="profile-img" src="{{ asset('bundles/crmcore/images/logo_hidden.png') }}" alt="" style="height: 80px; padding: 10px;">
                    </div>
                </li>
                <li class="c-menu__item is-active" data-toggle="tooltip" title="Progiciel">
                    <div class="center-block c-menu-item__title" id="c-menu-item__img2">
                        <img class="profile-img" src="{{ asset('bundles/crmcore/images/logo_progiciel.png') }}" alt="" style="height: 143px;padding: 26px;margin-left: 8px;">
                    </div>
                </li>
                <li class="c-menu__item is-active" id="userBtn1" data-toggle="tooltip" title="Users Export">
                    <div class="c-menu__item__inner"><i class="glyphicon glyphicon-user"></i>
                        <div class="c-menu-item__title"><a ><span>Tickets - par Utilisateur</span></a></div>
                    </div>
                </li>
                <li class="c-menu__item is-active" id="userBtn2" data-toggle="tooltip" title="Tickets - par Projet">
                    <div class="c-menu__item__inner"><i class="glyphicon glyphicon-question-sign"></i>
                        <div class="c-menu-item__title"><a ><span>Tickets - par Projet</span></a></div>
                    </div>
                </li>
                <li class="c-menu__item is-active" id="userBtn3" data-toggle="tooltip" title="Tickets - tous les Projets">
                    <div class="c-menu__item__inner"><i class="glyphicon glyphicon-education"></i>
                        <div class="c-menu-item__title"><a ><span>Tickets - tous les Projets</span></a></div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
<main class="l-main">
    <div class="content-wrapper content-wrapper--with-bg">
        <div class="page-content">
            <body>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
            </body>

        </div>
    </div>
</main>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script><script src='https://use.fontawesome.com/2188c74ac9.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src="{{ asset('bundles/dtcgrid/js/dashboard.js') }}"></script>
</body>

</html>